USE [master]
GO
/****** Object:  Database [Sunny_spot]    Script Date: 2/2/2024 2:03:12 PM ******/
CREATE DATABASE [Sunny_spot]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sunny_spot', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Sunny_spot.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sunny_spot_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Sunny_spot_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sunny_spot].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sunny_spot]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2/2/2024 2:03:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[staffID] [bigint] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[firstName] [varchar](50) NOT NULL,
	[lastName] [varchar](200) NOT NULL,
	[address] [varchar](200) NOT NULL,
	[mobile] [varchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[staffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cabin]    Script Date: 2/2/2024 2:03:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cabin](
	[cabinID] [bigint] IDENTITY(1,1) NOT NULL,
	[cabinType] [varchar](150) NOT NULL,
	[cabinDescription] [varchar](255) NULL,
	[pricePerNight] [decimal](10, 2) NOT NULL,
	[pricePerWeek] [decimal](10, 2) NOT NULL,
	[photo] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[cabinID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CabinInclusion]    Script Date: 2/2/2024 2:03:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CabinInclusion](
	[cabinIncID] [bigint] IDENTITY(1,1) NOT NULL,
	[cabinID] [bigint] NOT NULL,
	[incID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cabinIncID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inclusion]    Script Date: 2/2/2024 2:03:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inclusion](
	[incID] [bigint] IDENTITY(1,1) NOT NULL,
	[incName] [varchar](50) NOT NULL,
	[incDetails] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[incID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 2/2/2024 2:03:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[logID] [bigint] IDENTITY(1,1) NOT NULL,
	[staffID] [bigint] NOT NULL,
	[loginDateTime] [datetime] NOT NULL,
	[logoutDateTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[logID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CabinInclusion]  WITH CHECK ADD FOREIGN KEY([cabinID])
REFERENCES [dbo].[Cabin] ([cabinID])
GO
ALTER TABLE [dbo].[CabinInclusion]  WITH CHECK ADD FOREIGN KEY([incID])
REFERENCES [dbo].[Inclusion] ([incID])
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD FOREIGN KEY([staffID])
REFERENCES [dbo].[Admin] ([staffID])
GO
ALTER TABLE [dbo].[Cabin]  WITH CHECK ADD CHECK  (([pricePerWeek]<=[pricePerNight]*(5)))
GO
ALTER TABLE [dbo].[Cabin]  WITH CHECK ADD CHECK  (([pricePerNight]>=(0)))
GO
USE [master]
GO
